<div class="card text-center">
    <div class="card-header">
        <img src="https://api.mapbox.com/styles/v1/mapbox/light-v11/static/url-https%3A%2F%2Fdocs.mapbox.com%2Fapi%2Fimg%2Fcustom-marker.png(-76.9,38.9)/-76.9,38.9,15/500x200?access_token=pk.eyJ1IjoiZXhhbXBsZXMiLCJhIjoiY2p0MG01MXRqMW45cjQzb2R6b2ptc3J4MSJ9.zA2W0IkI0c6KaAhJfk9bWg" 
        class="img-fluid responsive" alt="Responsive image">
    </div>
    <div class="card-body">
      <h5 class="card-title">Tipo Point</h5>
      <p class="card-text">Seleccionando esta opción se desplegará un mapa indicando puntos específicos.</p>
      <button class="btn btn-primary" (click)="seleccionar()">Seleccionar</button>
    </div>
</div>


