<div class="card text-center">
    <div class="card-header">
        <img src="https://assets-global.website-files.com/5f2a93fe880654a977c51043/602c091fdedb046ade8d894e_HN6SJ7JNTYJrJZcuOwxHnMGc0qBO0ZO-8x7D-6mpXkylp-7RrEgBLdgeAyGvg1sQHp9_Ea71SOdxFbgpFjhm8-x1202WMwwrH4AJwQC8cCpt_tiOQxXOqgGVbU4yd-TfZQ5W9pZf.png" 
        class="img-fluid responsive" alt="Responsive image">
    </div>
    <div class="card-body">
      <h5 class="card-title">Tipo Line</h5>
      <p class="card-text">Seleccionando esta opción se desplegará un mapa trazando una ruta.</p>
      <button class="btn btn-primary" (click)="seleccionar()">Seleccionar</button>
    </div>
</div>